html{
    background-color: rgb(255, 232, 204);
}
body{
   position: relative; 
}
.top-border{
    position: fixed;
    background-color: rgba(253, 213, 154, 1);
    z-index: 100;
    height: 25px;
    width: 100%;
}
.bottom-border{
    position: fixed;
    background-color: rgba(253, 213, 154, 1);
    z-index: 100;
    height: 25px;
    width: 100%;
    bottom: 0;
}
.left-border{
    position: fixed;
    background-color: rgba(253, 213, 154, 1);
    z-index: 100;
    height: 100%;
    width: 25px;
}
.right-border{
    position: fixed;
    background-color: rgba(253, 213, 154, 1);
    z-index: 100;
    height: 100%;
    width: 25px;
    right: 0;
}
.navigation{
    width: 100%;
}
.wrap{
    border: 1px solid #000;
    max-width: 1200px;
    margin: auto;
}
nav{
    /* border: 1px solid red; */
    display: flex;
    padding: 25px;
}
.logo div{
    /* border: 1px solid red; */
    width: 200px;
    padding: 20px 0 0 0;
}
.logo img{
    /* border: 1px solid red; */
    vertical-align: top;
    width: 100%;
}
nav ul{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    padding-left: 50px;
}
nav li{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}
nav li img{
    width: 20%;
}
nav li a{
    /* border: 1px solid red; */
    color: rgba(255, 163, 24, 1);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    height: 30px;
    width: 100px;
    text-align: center;
    line-height: 30px;
}
nav li:hover>a{
    color: rgb(255, 232, 204);
    background-color: rgba(255, 163, 24, 1);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
} 
nav li:hover>img{
    width: 25%;
}
.video{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.video .flour{
    width: 48%;
    height: 60vh;
    border-radius: 70px;
    /* box-shadow: 0px 0px 5px 2px; */
}
.video .choc{
    width: 48%;
    height: 60vh;
    border-radius: 70px;
    /* box-shadow: 0px 0px 5px 2px; */
    /* padding-bottom: 30px; */
}

/*矚目新品*/
.new{
    /* border: 1px solid red; */
    /* padding-top: 100px;
    display: flex;
    align-items: center; */
}
h2{
    font-size: 40px;
    margin: auto;
    text-align: center;
    background-color: rgba(255, 163, 24, 1);
    color: rgb(255, 255, 255);
    width: 180px;
    border-radius: 68% 32% 68% 32% / 0% 100% 0% 100%;
}
.new section{
    border: 1px solid red;
    display: flex;
}
.choc-basque div{
    width: 50%;
}

.new section div{
    /* border: 1px solid red; */
    width: 50%;
    display: flex;
    justify-content: center; 
}
.new-name h3{
    /* border: 1px solid red; */
    width: 50%;
    font-size: 30px;
    justify-content: center;
    text-align: center;
}
.new-content p{
    /* border: 1px solid red; */
    width: 50%;
    font-size: 24px;
    text-align: center;
}
.new-name{
    align-items: center;
    padding-top: 50px;
    /* justify-content: center; */
}
.new-content{
    flex-direction: row-reverse;
    align-items: center;
    padding-top: -50px;
    /* justify-content: center; */
}
.new-name img{
    border-radius: 0% 20% 0% 20% / 0% 20% 0% 20%;
    width: 60%;
    box-shadow: 5px 5px 15px 1px rgb(78, 77, 77);
}
.new-content img{
    border-radius: 0% 26% 0% 26% / 0% 20% 0% 20%;
    width: 60%;
    box-shadow: 5px 5px 15px 1px rgb(78, 77, 77);
}