html{
    background-color: rgb(255, 232, 204);
}
body{
   position: relative; 
}
.top-border{
    position: fixed;
    background-color: rgba(253, 213, 154, 1);
    z-index: 100;
    height: 25px;
    width: 100%;
}
.bottom-border{
    position: fixed;
    background-color: rgba(253, 213, 154, 1);
    z-index: 100;
    height: 25px;
    width: 100%;
    bottom: 0;
}
.left-border{
    position: fixed;
    background-color: rgba(253, 213, 154, 1);
    z-index: 100;
    height: 100%;
    width: 25px;
}
.right-border{
    position: fixed;
    background-color: rgba(253, 213, 154, 1);
    z-index: 100;
    height: 100%;
    width: 25px;
    right: 0;
}
.navigation{
    width: 100%;
}
.wrap{
    /* border: 1px solid #000; */
    max-width: 1200px;
    margin: auto;
}
nav{
    /* border: 1px solid red; */
    display: flex;
    padding: 25px;
    position: fixed;
    background-color: rgba(255, 232, 204);
    /* opacity: 0.5; */
    height: 140px;
    width: 100%;
    z-index: 10;
}
.logo div{
    /* border: 1px solid red; */
    width: 200px;
    padding: 25px 0 0 0;
}
.logo img{
    /* border: 1px solid red; */
    vertical-align: top;
    width: 100%;
}
nav ul{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-top: 30px;
}
nav li{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}
nav li img{
    width: 20%;
}
nav li a{
    /* border: 1px solid red; */
    color: rgba(255, 163, 24, 1);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    height: 30px;
    width: 100px;
    text-align: center;
    line-height: 30px;
}
nav li:hover>a{
    color: rgb(255, 232, 204);
    background-color: rgba(255, 163, 24, 1);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
} 
nav li:hover>img{
    width: 25%;
}


.contentgroup{
    padding-top: 200px;
    padding-bottom: 50px;
}
.wrap{
    display: flex;
}
.card{
    /* border: 1px solid red; */
    width: 50%;
    padding-left: 150px;
}
.text{
    /* border: 1px solid red; */
    width: 50%;
    color: rgb(165, 163, 163);
}
.mainpic img{
    width: 90%;
}
.pics img{
    width: 60%;
}
.pics{
    display: flex;
    width: 50%;
}
h3{
    font-size: 30px;
}
p{
    font-size: 24px;
    padding-top: 50px;
    line-height: 40px;
}
.item{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}
.price{
    font-size: 22px;
}
.buy{
    background-color: rgba(255, 163, 24, 1);
    color: white;
    border-radius: 30px;
    text-align: center;
    padding: 5px;
    font-size: 20px;
}
.buy:hover{
    background-color: rgb(249, 194, 100);
    /* box-shadow: 1px 1px 2px 2px rgb(224, 220, 220); */
    cursor: pointer;
}









footer{
    padding: 25px;
    background-color: rgba(253, 213, 154, 1)
    ;
}
footer .social-media{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
}
footer img{
    width: 5%;
    padding: 10px;
}
.footer-menu ul{
    display: flex;
    justify-content: center;
}
.footer-menu li{
    padding: 10px;
}
footer p{
    text-align: center;
    line-height: 20px;
}
